@font-face {
  font-family: "MulishRegular";
  src: url("./fonts/MulishRegular.ttf");
}

@font-face {
  font-family: "MulishLight";
  src: url("./fonts/MulishLight.ttf");
}

@font-face {
  font-family: "MulishExtraLight";
  src: url("./fonts/MulishExtraLight.ttf");
}

body {
  width: 100%;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  display: block;
  margin: 0px;
  align-self: center;
  overflow-x: hidden;
}

.mainDiv {
  justify-content: center;
  align-self: center;
  margin: 0% 5%;
  display: grid;
  position: relative;
  z-index: 1;
}

.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.logoDiv {
  display: inline-flex;
  align-items: center;
}

.logo {
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: #458ff6;
  width: 41px;
  height: 41px;
  font-family: "MulishRegular";
  display: inherit;
  margin-right: 1em;
}

.logoSymbol {
  text-align: center;
  color: white;
  font-family: MulishRegular;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline;
}

.logoText {
  color: #000;
  font-family: "MulishRegular";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navMenu {
  justify-content: space-between;
}

.selectedNavItem {
  font-weight: 700;
  color: #000;
  text-decoration: none;
  background-color: none;
  font-family: MulishRegular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navItem {
  padding-left: 2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  font-family: MulishRegular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.firstSection {
  display: inline-flex;
  color: #000;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10em;
  margin-top: 5%;
  margin-bottom: 15%;
}

.firstSectionTitle {
  color: #000;
  font-family: "MulishRegular";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.firstSectionSubtitle {
  color: #7d7987;
  font-family: "MulishExtraLight";
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.firstSectionBtn {
  margin-top: 50px;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  background: #458ff6;
  font-family: "MulishRegular";
  border: 0px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}

.firstSectionImage {
  width: 60%;
}

.secondSection {
  justify-items: center;
  display: inherit;
  margin: 1% 5%;
  margin-bottom: 15%;
}

.secondSectionTitle {
  text-align: center;
  color: #000;
  font-family: "MulishRegular";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-block: 0;
}

.secondSectionSubtitle {
  color: #7d7987;
  text-align: center;
  font-family: "MulishExtraLight";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-block: 0;
  margin-bottom: 5%;
  margin-inline: 7%;
}

.delimeter {
  margin: 2% 0%;
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #000;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(20em, 1fr));
  gap: 40px;
  margin-bottom: 2%;
}

.card {
  padding: 50px 37px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}

.icon {
  width: 91px;
  height: 91px;
}

.serviceCardTitle {
  color: #000;
  font-family: "MulishRegular";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-block: 0px;
  margin-top: 1em;
  line-height: 56px;
}

.serviceCardSubtitle {
  color: #7d7987;
  font-family: "MulishExtraLight";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  margin-block: 0px;
}

.thirdSection {
  display: inline-flex;
  color: #000;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15%;
}

.thirdSectionContent {
  width: 50%;
  margin-left: 10em;
}

.thirdSectionTitle {
  color: #000;
  font-family: "MulishRegular";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
}

.thirdSectionSubtitle {
  color: #7d7987;
  font-family: "MulishExtraLight";
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 152.381% */
}

.thirdSectionBtn {
  margin-top: 50px;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  background: #fff;
  color: #458ff6;
  font-family: "MulishRegular";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  border: 1.4px solid #458ff6;
}

.thirdSectionImage {
  width: 60%;
}

.fourthSection {
  display: inline-flex;
  color: #000;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15%;
}

.fourthSectionContent {
  width: 50%;
  margin-right: 10%;
  margin-left: 8%;
}

.fourthSectionTitle {
  color: #000;
  font-family: "MulishRegular";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.fourthSectionSubtitle {
  color: #7d7987;
  font-family: "MulishExtraLight";
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.fourthSectionBtn {
  margin-top: 50px;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  background: #fff;
  color: #458ff6;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  border: 1.4px solid #458ff6;
}

.downArrowInBtn {
  width: 20px;
  height: 12px;
  flex-shrink: 0;
}

.fourthSectionImage {
  width: 60%;
}

.fiveSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15%;
}

.slide {
  padding: 64px 118px;
  text-align: center;
  height: 350px;
  width: 65%;
  border-radius: 24px;
  background: linear-gradient(208deg, #67c3f3 9.05%, #5a98f2 76.74%);
}

.sliderTitle {
  color: #fff;
  font-family: "MulishRegular";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  margin-block: 0;
}

.delimeterSlider {
  width: 100%;
  margin: 2% 0%;
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  display: inline-block;
  margin-block: 0;
}

.slideContent {
  margin: 8% 0px;
  justify-content: center;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userInfo {
  width: 50%;
  display: flex;
}

.avatarContainer {
  width: 145px;
  height: 145px;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 50%;
  margin-right: 2em;
}

.userAvatar {
  width: 105%;
  height: 107%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

.userTextInfo {
  align-self: center;
}

.userName {
  margin-block: 0px;
  color: #fff;
  font-family: "MulishRegular";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

.userPosition {
  margin-block: 0px;
  color: rgba(255, 255, 255, 0.85);
  font-family: "MulishExtraLight";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.slideReview {
  width: 50%;
  color: rgba(255, 255, 255, 0.9);
  font-family: "MulishExtraLight";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  width: 25%;
  justify-content: space-between;
}

.dotsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}

.pageDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(91, 155, 243, 0.4);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pageDot.active {
  background-color: #5b9bf3;
}

.arrowPager {
  background-color: white;
  border: 0;
}

.arrowCornerPosition {
  background-color: white;
  border: 0;
  color: rgba(91, 155, 243, 0.4);
}

.sixSection {
  justify-items: center;
  display: inherit;
  margin: 1% 5%;
  margin-bottom: 15%;
}

.sixSectionTitle {
  text-align: center;
  color: #000;
  font-family: "MulishRegular";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 155.556% */
  margin-block: 0;
}

.articleCard {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  overflow: hidden;
}

.articleImage {
  width: 100%;
  height: 40%;
}

.articleCardGridContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3% 0px;
}

.articleCardContent {
  height: 53%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleCardText {
  margin: 0px 33px;
}

.articleCardTitle {
  color: #000;
  font-family: "MulishRegular";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.articleCardSubtitle {
  color: #7d7987;
  font-family: "MulishExtraLight";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.readMoreBtn {
  margin: 0px 33px;
  text-decoration: none;
  color: #4089ed;
  font-family: "MulishRegular";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.readMoreArrow {
  margin-inline: 2%;
}

.showMoreBtn {
  margin-top: 6%;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  background: #fff;
  color: #458ff6;
  font-family: "MulishRegular";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  border: 1.4px solid #458ff6;
}

footer {
  background: linear-gradient(183deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  flex-shrink: 0;
  padding: 100px 180px;
  overflow: hidden;
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerCompanyInfo {
  width: 30%;
}

.footerlogoDiv {
  display: inline-flex;
  align-items: center;
}

.footerLogo {
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: #fff;
  width: 41px;
  height: 41px;
  display: inherit;
  margin-right: 1em;
}

.footerLogoSymbol {
  text-align: center;
  color: #5b9bf3;
  font-family: "MulishRegular";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline;
}

.footerLogoText {
  color: #fff;
  font-family: "MulishRegular";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.describtionCompany {
  color: #fff;
  font-family: "MulishExtraLight";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.rightReserved {
  color: #fff;
  font-family: "MulishExtraLight";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.footerNavMenu {
  display: flex;
  flex-direction: column;
}

.footerBlockTitle {
  color: #fff;
  font-family: "MulishRegular";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.footerNavItem {
  text-decoration: none;
  color: #fff;
  font-family: "MulishExtraLight";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
}

.backgroundImage {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}

.firstSectionBGMatrix {
  margin-top: 160px;
  margin-left: -50px;
}

.secondSectionBGSky {
  margin-top: 73%;
  margin-left: -3%;
  width: 50%;
}

.secondSectionBGMatrix {
  right: 0px;
  margin-top: 31em;
  width: 10%;
}

.thirdSectionBGMatrix {
  right: -10%;
  width: 10%;
  margin-top: 12%;
}

.fiveSectionBGMatrix1 {
  margin-top: -1%;
  right: 5%;
  z-index: 0;
  width: 11%;
}

.fiveSectionBGMatrix2 {
  left: 5%;
  margin-top: 20%;
  z-index: -1;
  width: 11%;
}

.sixSectionBGSky {
  margin-left: 80%;
  margin-top: 5%;
  width: 36%;
}

.sixSectionBGMatrix {
  left: 9%;
  margin-top: 7%;
  width: 10%;
}

.footerBGMatrix1 {
  left: -1%;
  margin-top: 14%;
  z-index: 0;
}

.footerBGMatrix2 {
  right: 5%;
  margin-top: -11%;
  width: 10%;
}
