@font-face {
  font-family: "MulishRegular";
  src: url("./fonts/MulishRegular.ttf");
}

@font-face {
  font-family: "MulishLight";
  src: url("./fonts/MulishLight.ttf");
}

@font-face {
  font-family: "MulishExtraLight";
  src: url("./fonts/MulishExtraLight.ttf");
}

body {
  width: 100%;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  display: block;
  margin: 0px;
  align-self: center;
  overflow-x: hidden;
}

.mainDiv {
  justify-content: center;
  align-self: center;
  margin: 0% 10%;
  display: grid;
  position: relative;
  z-index: 1;
}

.backgroundImage {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}

.firstSectionBGMatrix {
  margin-top: 10%;
  margin-left: -3%;
  width: 8%;
}

.secondSectionBGSky {
  margin-top: 71%;
  margin-left: -3%;
  width: 50%;
}
